# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su

# MPlab files
*.mcp
*.mcw
*.err
*.COD
*.HEX
*.lst
*.cof
*.map

# Proteus files
*.PWI
*.mptags
*.tagsrc
*.DBK
*.SDF
